{% extends "base.html" %}

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}
<h1>All Posts</h1>

<hr>
<h2>Create New Blog Post: </h2>
<form action="/posts" method="POST">
    <label for="title">Title:</label> <input class="form-control me-2"
        type="text" name="title" id="title"
        placeholder="Enter Title" aria-label="Enter Title">
    <br>
    <label for="author">Author:</label> <input class="form-control me-2"
        type="text" name="author"
        id="author" placeholder="Enter author name" aria-label="Enter author
        name">
    <br>
    <label for="content">Content:</label> <div class="input-group">
        <textarea class="form-control" placeholder="Enter post content"
            name="content" id="content"></textarea>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Post">
</form>

{% for post in posts %}
<hr>
<h2>{{ post.title }}</h2>

{% if post.author %}
<small>By: {{ post.author }} on {{ post.date }}</small>
{% else %}
<small>By: N/A on {{ post.date }}</small>
{% endif %}
<br><br>
<p style="white-space: pre-wrap">{{ post.content }}</p>
<a class="btn btn-danger" href="/posts/delete/{{ post.id }}">Delete</a>
<a class="btn btn-primary" href="/posts/edit/{{ post.id }}">Edit</a>

{% endfor %}


{% endblock %}